{% load static %}
<header>
    <div class='header_container'>
        <div class="logo">
            <a href="{% url 'websites:home' %}">
                <img src='{% static "img/logo.png" %}' alt="logo uxlabs" width="200">
            </a>
        </div>

        <nav>
            <ul class='nav_list'>
                <li><a class='nav-link' href="{% url 'websites:home' %}">home</a></li>
                <li><a class='nav-link' href="{% url 'info:nosotros' %}">información</a></li>
                <li><a class='nav-link' href="{% url 'websites:websites' %}">galería</a></li>
                <li><a class='nav-link' href="{% url 'contacts:contacto' %}">contáctanos</a></li>
                <!--<li><a class='nav-link' href="{% url 'info:legal' %}">Términos y Condiciones</a></li>-->
            </ul>
        </nav>

        <div class='block-search'>
            <img class="icon-search" src='{% static "img/ic_search.svg" %}' alt="icono de busqueda">
            <input type='search' placeholder='buscar..'>
        </div>
    </div>
</header>
