Django==1.10.3
django-colorfield==0.1.10
django-pure-pagination==0.3.0
django-redis==4.6.0
django-taggit==0.21.3
django-uuslug==1.1.8
Pillow==3.4.2
psycopg2==2.6.2
python-slugify==1.2.1
redis==2.10.5
sorl-thumbnail==12.3
Unidecode==0.4.19
wheel==0.29.0
