$color_1 = #EBEBEB  // gris suave
$color_2 = #0B132B  // azul muy oscuro
$color_3 = #A63D40  // rojo oscuro
$color_4 = #747474  // gris oscuro
$color_5 = #464646  // gris muy oscuro
$color_6 = #5E83D8  // celeste
$color_7 = #335C67  // verde
$color_8 = #E8F1F2  // blanco oscuro ?
