@import 'nib'
@import '../../../node_modules/jeet/styl'

global-reset()
reset-html5()

@import 'constants.styl'
@import 'typo.styl'
@import 'grid.styl'
@import 'base.styl'
@import 'blocks/*'

header
  width 100%
  background $color_1
  color $color_2
  padding 2rem 0

  .header_container
    center(960px)

  .logo
    column(3/12)

  nav
    column(7/12)

  .nav_list
    inline_list()
    margin-top 28px

    li
      margin-bottom 5px
      margin-right 1.6rem

  .nav-link
    color $color_2
    font-size 1.4rem
    font_primary()
    font-weight 600

    &:hover
      border-bottom 2px solid $color_3

  .block-search
    column(2/12)
    position relative
    height 32px
    margin-top 20px

    img
      position absolute
      top 4px
      right 10px

    input
      width 100%
      height inherit

      margin-right 5px
      border 4px solid #ffffff
      font-size 1.2rem

      &::placeholder
        color $color_1

footer
  background $color_1
  padding 40px 40px 20px
  color $color_5
  font-size .9rem

  .footer_container
    center(960px)

  .copy
    font-size .8rem
    color $color_4

    figcaption
      text-align center

    .logo
      display block
      margin 0 auto 8px
      width 60px

  h3
    margin-bottom 10px
    font-weight bold

  h3,
  ul
    font_secondary()
    font-size 1rem
    color $color_5

  .nav-link
    margin-bottom 0.8rem
    font-size .9rem

    a:hover
      color $color_3

  .form_suscripcion
    .btn
      margin .75rem 0

    p
      color $color_4
      line-height 1.2

  .social
    margin 10px 0 20px
    clearfix()

    .icon
      float left
      margin-right 10px

  .social_2
    font-size .9rem

    figcaption
      margin-bottom .5rem

    img
      margin-left 5px
