{% extends 'common/_base.html' %}

{% block content %}
<h1>Websites</h1>

<div>
    <span>Categorías</span>

    <form action='#'>
        <select name='categoria'>
            <option value="">Todos</option>
            {% for tmp_categoria in categorias %}
                <option value='{{ tmp_categoria.nombre }}' {% if tmp_categoria.nombre == q_categoria %}selected{% endif %}>{{ tmp_categoria.nombre }}</option>
            {% endfor %}
        </select>

        <input type='submit' value='Enviar'>
    </form>
</div>

<div>
    <span>Buscador</span>
    <form action='{% url "websites:websites" %}'>
        <input name='q' type="search" placeholder='Ingrese el término de búsqueda' {% if q %} value='{{ q }}'{% endif %}>
        <input type='submit' value='Buscar'>
        <span>Ingrese al menos 3 caracteres</span>
    </form>
</div>

{% for web in lista_webs.object_list %}
    <h1><a href='{{ web.get_absolute_url }}'>{{ web.nombre }}</a></h1>
    <div>{{ web.resumen|safe }}</div>
{% endfor %}


<!-- paginación -->

<div id="pagination">
    {{ lista_webs.render }}
</div>
{% endblock content %}
