{
    "DB_NAME": "uxlabs",
    "DB_USER": "uxlabs",
    "DB_PASSWORD": "uxlabs",

    "URL_SITE": "http://127.0.0.1:8000",
    "SECRET_KEY": "=^_1@5%5nw+fy9xmv^(i+^m3)g0+mc!=0q)7=c80pc!dl1du=k",

    "MEDIA_ROOT": "",
    "MEDIA_URL": "/media/",
    "STATIC_ROOT": "",
    "STATIC_URL": "/static/",
    "ALLOWED_HOSTS": ["127.0.0.1"]
}
