.home

  .main_descripcion
    font-size 1.2rem
    font-weight bold
    center(640px)
    margin 2rem auto
    text-align center

  .main_quote
    center(640px)
    margin 2rem auto
    font-size 1rem
    font-weight 300
    font_secondary()
    text-align center

  .destacado
    center(960px)

    .header
      text-align center
      margin 1.5rem auto

      time
        font_secondary()
        color $color_5
        font-weight 300
        margin-top .5rem
        display block

      h2
        color $color_7
        font_primary()
        font-weight bold
        font-size 2rem

    .titulo
      font_primary()
      font-size 1.8rem
      color $color_6
      margin 1.5rem 0

    .resumen
      font_secondary()
      font-size 1rem
      color $color_5
      line-height 1.5

    img
      box-shadow(1px 1px 2px 0px rgba(0,0,0,0.75))
      max-width 100%
